<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="ROBOTS" content="index" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="Julien Ollivier">
        <link rel="favicon" href="/static/main/favicon.ico">
        <title>Julien Ollivier</title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="/static/main/css/bootstrap.min.css">
        <!-- Custom styles for the whole website -->
        <link rel="stylesheet" href="/static/main/css/custom.css">
        <!-- Feather glyphicons -->
        <link rel="stylesheet" href="/static/main/css/feather.css">
        <!-- Custom styles for this template -->
        <link rel="stylesheet" href="/static/main/css/landingpage.css">
    </head>

    <body>

        <!-- begin navbar -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
            <a href="/"><span class="align-self-center mr-3" data-feather="feather"></span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/prestations">Prestations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/portfolio">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/portfolio">Avis clients</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/portfolio">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- end navbar -->

        <!-- begin cover part -->
        <div class="cover-div">
            <div class="cover-div-content align-middle">
                <h1 class="cover-title">Webdesigner</h1>
                <h1 class="cover-title">Géomaticien</h1>
                <p class="cover-text">Applications — Sites web — Systèmes de données</p>
                <p class="cover-text">Sécurisé — Performant — Moderne</p>
                <p class="text-center">
                    <a href="#prestations" class="btn btn-lg btn-info m-2 highlight-text">Prestations</a>
                    <a href="#creations" class="btn btn-lg btn-info m-2 highlight-text">Portfolio</a>
                </p>
            </div>
        </div>

        <!-- begin 'myself' excerpt -->
        <div id="prestations" class="container-fluid bg-white-textured p-3 mb-3">
            <div class="container">
                <h1 class="p-4">Des sites web robustes et accessibles</h1>

                <div class="container row">
                    <!-- dispo manifest -->
                    <div class="media col-1">
                        <span class="align-self-center" data-feather="message-circle"></span>
                    </div>
                    <p class="col-11">Je suis <b>réactif</b> et <b>disponible</b> lors de la création de votre site. Je <b>comprends vos besoins</b>. Dès notre accord, vous avez accès à mon tableau d'avancement détaillant mon travail. Tout au long de la prestation, nous pourrons <b>échanger et nous ajuster</b> pour que je puisse répondre à vos besoins.</p>
                    <!-- advice manifest -->
                    <div class="media col-1">
                        <span class="align-self-center" data-feather="user-check"></span>
                    </div>
                    <p class="col-11">Je suis une force de conseil et <b>je m'adapte à vos envies</b>. Un <b>Nouveau site</b> ? Je vous donne les clefs pour en exploiter le plein potentiel en tout confort. Un <b>Site existant</b> ? Je m'adapte et vous guide pour moderniser votre espace.</p>
                </div> <!-- end row -->

            </div>
        </div>
        <!-- end 'myself' excerpt -->

        <!-- begin portfolio excerpt -->
        <h1 class="col-12 cover-title pt-4 pb-4">Dernières créations</h1>
    
        <div id="creations" class="container-fluid d-flex justify-content-around pt-3 pb-3">

            <div class="col-lg-3 m-1 site-snapshot">
                <a href="http://www.vaste.fr"><img class="site-snapshot-img" src="/static/main/img/logo_vaste.png"></a>
                <p><i>Site personnel. J'ai créé le blog et le forum moi-même pour convenir à mon idée de l'expérience utilisateur. Chaque aventure possède un style différent et montre mes capacités stylistiques.</i></p>
            </div>

            <div class="col-lg-3 m-1 site-snapshot">
                <a href="http://www.rochelab.org"><img class="site-snapshot-img" src="/static/main/img/logo_rochelab.png"></a>
                <p><i>M. Julien Roche voulait un site professionnel mais avec une touche d'humour bien à lui pour son laboratoire.</i></p>
            </div>

            <div class="col-lg-3 m-1 site-snapshot">
                <a href="http://www.sonov.fr"><img class="site-snapshot-img" src="/static/main/img/logo_sonov.png"></a>
                <p><i>Ancienne création, bientôt renouvelée. Samuel voulait une ambiance moderne, cosy et ronde pour son blog de musique.</i></p>
            </div>

        </div>

        <div class="container text-center pt-3 pb-3">
            <a href="/portfolio" class="btn btn-lg btn-info m-2 highlight-text">Toutes mes créations</a>
        </div>
        <!-- end portfolio excerpt -->

        <!-- begin method excerpt -->
        <div id="prestations" class="container-fluid bg-white-textured p-3 mb-3">
            <div class="container">
                <h1 class="p-4">Mes services</h1>

                <div class="container row">

                    <div class="media col-md-2">
                        <span class="align-self-center mr-3" data-feather="user-check"></span>
                    </div>
                    <!-- dispo manifest -->
                    <div class="container-fluid col-md-10">
                        <p class="mb-2 mt-2">Je suis présent et disponible lors de la création de votre site. Dès notre accord, vous avez accès à mon tableau d'avancement, qui comporte les intitulés et contenus de chaque étape de développement de votre site. En cas de doute, je suis disponible pour vous apporter toute précision nécessaire. Tableaux de bord disponibles : google docs, framaboard</p>
                    </div>
                    <!-- advice manifest -->
                    <div class="media col-md-2">
                        <span class="align-self-center mr-3" data-feather="clock"></span>
                    </div>
                    <div class="container-fluid col-md-10">
                        <p class="mb-2 mt-2">Je conseille et je m'adapte.<br>
                            <b>Nouveau site</b> ? Je vous donne les clefs pour en exploiter le plein potentiel en tout confort.<br>
                            <b>Site existant</b> ? Je m'adapte et vous guide pour moderniser votre espace.
                        </p>
                    </div>

                </div> <!-- end row -->

                <div class="text-center"><a href="#prestations" class="btn btn-lg btn-info m-2 highlight-text">Découvrez mon portfolio</a></div>
            </div>
        </div>
        <!-- end method excerpt -->

    </body>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/main/js/jquery-3.3.1.min.js"></script>
    <script src="/static/main/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/main/js/ie10-viewport-bug-workaround.js"></script>

    <!-- feather js -->
    <script src="/static/main/js/feather.js"></script>
    <script>
      feather.replace()
    </script>
</html>