<!-- begin navbar -->
<nav class="custom-border-bottom navbar navbar-expand-lg navbar-light bg-light">
    <a href="/"><img class="m-0" src="/static/main/img/brand-44.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/prestations">Prestations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/portfolio">Portfolio</a>
            </li>
<!--             <li class="nav-item">
                <a class="nav-link" href="/portfolio">Avis clients</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
        </ul>
    </div>
</nav>
<!-- end navbar -->