{% extends "main/base.html" %}
{% block content %}

<!-- begin contact manifest  -->
<div class="container-fluid">

    <!-- begin portfolio excerpt -->
    <h1 class="col-12 cover-title pt-4 pb-4">Mes créations</h1>
    <div id="creations" class="row d-flex justify-content-around pt-3 pb-3">

        <div class=" site-snapshot">

            <a href="http://www.vaste.fr"><img class="site-snapshot-img" src="/static/main/img/logo_vaste.png"></a>
            <p><i>Site personnel. J'ai créé le blog et le forum moi-même pour convenir à mon idée de l'expérience utilisateur. Chaque aventure possède un style différent et montre mes capacités stylistiques.</i></p>
        
        </div>

        <div class=" site-snapshot">

            <a href="http://www.rochelab.org"><img class="site-snapshot-img" src="/static/main/img/logo_rochelab.png"></a>
            <p><i>Un site professionnel (mais avec une touche d'humour) pour son laboratoire de chimie organique.</i></p>
        
        </div>

        <div class=" site-snapshot">

            <a href="http://www.sonov.fr"><img class="site-snapshot-img" src="/static/main/img/logo_sonov.png"></a>
            <p><i>Une ambiance moderne, cosy et ronde pour un blog de musique accueillant. Après avoir créé l'original, je suis missionné pour le moderniser.</i></p>
        
        </div>

    </div> 
    <!-- end portfolio excerpt -->

</div>
<!-- end contact manifest -->

{% endblock %}