{% extends "main/base.html" %}
{% block content %}

<!-- begin contact manifest  -->
<div class="container-fluid">

    <div class="bg-white-textured row d-flex justify-content-around pt-3 pb-3 custom-border-bottom custom-border-top mt-5 mb-5">

        <h1 class="pt-4 pb-4">Mes prestations</h1>
        <div class="row d-flex justify-content-around pt-3 pb-3">

            <div class="manifest-container">

                <p class="text-center">
                    <a href="#"><span class="manifest-feathericon text-center" data-feather="globe"></span></a>
                </p>
                <h2>Site vitrine</h2>
                <p class="lead">Présentez votre activité et montrez votre travail. En quelques secondes, un visiteur connait vos services et peut vous contacer.</p>
                <p>Un site limpide, pratique et moderne. Toute mise à jour des informations peut être effectuée en m'envoyant un message et je m'engage à mettre à jour les informations dans des délais courts.</p>

            </div>
            <div class="manifest-container">

                <p class="text-center">
                    <a href="#"><span class="manifest-feathericon text-center" data-feather="shopping-cart"></span></a>
                </p>
                <h2>Boutique en ligne</h2>
                <p class="lead">Proposez un catalogue et gérez les achats de vos clients de manière sécurisée.</p>
                <p>Vous êtes créateur&middot;ice, producteur&middot;ice, vous voulez vendre votre produit. Vous disposez d'un espace pour mettre en valeur vos produits : vos visiteurs deviennent des clients.</p>
                <p>Les commandes et transactions sont sécurisées, vous laissant libre de vous concentrer sur votre travail.</p>
            
            </div>
            <div class="manifest-container">

                <p class="text-center">
                    <a href="#"><span class="manifest-feathericon text-center" data-feather="server"></span></a>
                </p>
                <h2>Application web</h2>
                <p class="lead">Votre blog, votre galerie d'images personnelle, un site communautaire, et bien d'autres.</p>
                <p>Tout espace web nécessitant un espace confortable pour gérer de la donnée complexe. Vous gérez votre équipe, vos évènements, votre communauté.</p>
            
            </div>

        </div>

    </div>

    <div class="bg-white-textured row d-flex justify-content-around pt-3 pb-3 custom-border-bottom custom-border-top mt-5 mb-5">

        <h1 class="pt-4 pb-4">Pourquoi me choisir&nbsp;?</h1>
        <div class="row d-flex justify-content-around pt-3 pb-3">

            <div class="manifest-container">

                <p class="text-center">
                    <a href="#"><span class="manifest-feathericon text-center" data-feather="zap"></span></a>
                </p>
                <h2>Je m'occupe de tout. Rapidement.</h2>
                <p class="lead">Je prends en charge tout le nécessaire pour que votre site soit en ligne rapidement, conforme à vos attentes et visible.</p>
                <p>Vous avez accès à ma feuille de route 24h/24.</p>
                <p>Toutes les étapes essentielles peuvent prendre moins de 72 heures pour un site vitrine ou un blog.</p>
                <button class="btn btn-outline-secondary btn-block" type="button" data-toggle="collapse" data-target="#esv_speed_manifest_info" aria-expanded="false" aria-controls="collapseExample">En savoir plus</button>
                <div class="collapse" id="esv_speed_manifest_info">
                    <p class="pt-3">
                        Voici une feuille de route classique :<br>
                        &middot;&nbsp;L'écoute de vos besoins et envies<br>
                        &middot;&nbsp;La location de l'espace web (serveur) pour votre site<br>
                        &middot;&nbsp;La mise en place des logiciels<br>
                        &middot;&nbsp;Le choix des outils web qui vous conviendront le mieux<br>
                        &middot;&nbsp;Le design de votre site (en incluant les graphismes)<br>
                        &middot;&nbsp;L'optimisation du référencement sur les moteurs de recherche<br>
                        &middot;&nbsp;Votre présence sur les réseaux sociaux<br>
                    </p>
                </div>

            </div>
            <div class="manifest-container">

                <p class="text-center">
                    <a href="#"><span class="manifest-feathericon text-center" data-feather="user-check"></span></a>
                </p>
                <h2>Je suis sécurisant et éthique</h2>
                <p class="lead">Votre espace web naît d'outils libres de droit et je m'occupe de leur sécurisation.</p>
                <p>Vous êtes protégé des intrusions et du spam. Votre temps reste libre de ces nuisances.</p>
                <p>J'optimise sans surtaxe tout votre site pour les personnes en situation de handicap, qui pourront profiter de votre espace agréablement.</p>
                <button class="btn btn-outline-secondary btn-block" type="button" data-toggle="collapse" data-target="#esv_sec_manifest_info" aria-expanded="false" aria-controls="collapseExample">En savoir plus</button>
                <div class="collapse" id="esv_sec_manifest_info">
                    <p class="pt-3">
                        Grace à ma formation en sécurité informatique, je suis capable de protéger votre espace web à tous les niveaux. Grace à ma veille technologique, je peux corriger toute menace potentielle découverte par la communauté.
                    </p>
                    <p>
                        Les outils que j'utilise sont compatibles avec la technlogie <a href="https://www.w3.org/WAI/intro/aria">WAI&nbsp;—&nbsp;ARIA</a> qui permet aux navigateurs de rendre un site plus aisé à naviguer pour des utilisateurs en situation de handicap.
                    </p>
                </div>
            
            </div>
            <div class="manifest-container">

                <p class="text-center">
                    <a href="#"><span class="manifest-feathericon text-center" data-feather="users"></span></a>
                </p>
                <h2>Je fais partie d'un réseau</h2>
                <p class="lead">Ma réussite dépend aussi de mes confrères&middot;soeurs évoluant dans le même champ d'activité.</p>
                <p>Vos demandes spécifiques trouveront toujours une réponse positive grâce à ce réseau de professionnels du graphisme, de la vidéo et de la programmation.</p>
                <button class="btn btn-outline-secondary btn-block" type="button" data-toggle="collapse" data-target="#esv_res_manifest_info" aria-expanded="false" aria-controls="collapseExample">En savoir plus</button>
                <div class="collapse" id="esv_res_manifest_info">
                    <p class="pt-3">
                        Voici quelques exemples de gens formidables avec lesquels j'ai pu travailler.
                    </p>
                    <p>
                        Graphismes : <a href="http://alaka.fr/">Maïva Alaka</a> pourra répondre à toute demande de graphismes personnalisé qui nécessiterait des compétences spéciales.
                    </p>
                    <p>
                        Photo : <a href="www.sarah-scaniglia.com">Sarah Scaniglia</a> est une photographe et artiste de talent qui pourra capturer toute ambiance que vous voudriez mettre en valeur.
                    </p>
                    <p>
                        Vidéo : <a href="https://www.dagobafilms.com">Dagoba Films</a> maîtrisent l’intégralité de la chaîne audiovisuelle pour votre projet.
                    </p>
                </div>
            
            </div>

        </div>

    </div>

</div>

{% endblock %}