<!DOCTYPE html>
<html lang="fr">

    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="ROBOTS" content="NONE" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/static/tdc_anim/css/bootstrap.min.css">
    <!-- Custom styles -->
    <link rel="stylesheet" href="/static/tdc_anim/css/custom.css">
    <!-- leaflet maps -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js" integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log==" crossorigin=""></script>

    </head>

    <body>
        {% block content %}
        {% endblock %}
    </body>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/tdc_anim/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/static/tdc_anim/js/popper.min.js"></script>
    <script src="/static/tdc_anim/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/tdc_anim/js/ie10-viewport-bug-workaround.js"></script>

</html>